@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  text-decoration: none;
}

.animacion-sm {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
.animacion-logo {
  -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
header {
  background-color: rgb(252, 100, 74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
header nav {
  margin: auto;
  margin-right: 20px;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  margin: 10px;
}
header nav ul li a {
  font-weight: 600;
  text-decoration: none;
  color: black;
}
header nav :hover {
  color: white;
}

.carrito:hover {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 5rem;
  margin-right: 10px;
  margin-left: 20px;
}

.logo-nombre {
  font-size: 20px;
  font-family: "Playwrite PL", cursive;
}

body {
  background-color: rgb(248, 232, 208);
  width: 100%;
  font-family: sans-serif;
  margin: 0;
}

main {
  flex: 1;
}

.principal {
  display: flex;
  gap: 40px;
  margin: 50px;
}
.principal .textoP {
  margin-top: 150px;
  max-width: 50vw;
  text-align: center;
}
.principal .textoP h1 {
  color: tomato;
  font-family: "Playwrite PL", cursive;
  font-size: 35px;
}
.principal .textoP p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}
.principal .textoP .cartaB {
  background-color: #fa5c4c;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
}
.principal .logo-main {
  width: 75vw;
  max-width: 400px;
  min-width: 320px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 80px;
}
.principal .logo-main img {
  width: 100%;
  border-radius: 15px;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

.principal a:hover {
  background-color: #cc3c2f;
}

.caja-vianda {
  text-align: center;
  background-color: #e98542;
  margin: 50px;
}
.caja-vianda .contentP {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  padding: 10px 0px 30px 0px;
  align-items: stretch;
}
.caja-vianda .contentP .viandaPrincipal {
  background-color: white;
  width: 21.875rem;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
}
.caja-vianda .contentP .viandaPrincipal:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.caja-vianda .contentP .viandaPrincipal .viandaA {
  width: 100%;
}

.tamañosViandas {
  background-color: #e98542;
}

.contacto-main {
  width: 80%;
  margin: 100px 0px 0px 180px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.contacto-main div iframe {
  height: 600px;
  width: 80%;
}
.contacto-main div form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 30px;
  gap: 20px;
}
.contacto-main div a {
  color: green;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}
.contacto-main div a :hover {
  color: darkgreen;
}

.formulario textarea,
.formulario input {
  border-radius: 5px;
}

.button-form {
  width: 70px;
  padding: 8px;
  margin-left: 37%;
  border-radius: 10px 5px;
  background-color: white;
}
.button-form :hover {
  background-color: rgb(194, 192, 192);
}

.SM {
  display: flex;
  height: 700px;
  gap: 20px;
}

.sobreMi {
  margin: 20px 0px 0px 20px;
  padding: 40px;
  background-color: #fde3bd;
  height: 70%;
  width: 55%;
  align-self: center;
}
.sobreMi h2 {
  color: #e6533c;
  font-family: "Dancing Script", cursive;
  font-size: 34px;
}
.sobreMi p {
  font-size: 22px;
  color: #333;
}

.decoracionSM {
  margin-top: 20px;
  padding-left: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.decoracionSM img {
  height: 250px;
  border-radius: 30px;
}

.img-uno {
  grid-column: 1/2;
  grid-row: 1/2;
}

.img-dos {
  grid-column: 2/3;
  grid-row: 2/3;
}

.img-tres {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
}

.estiloMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.estiloMenu p {
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 50px;
}
.estiloMenu h2 {
  font-family: "Playwrite PL", cursive;
}
.estiloMenu h3 {
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 20px;
  margin-top: 1px;
  margin-bottom: 5px;
}

.menu-empanada {
  display: flex;
  gap: 50px;
}
.menu-empanada .texto-empanada {
  align-content: center;
  background-color: #f9b84a;
  width: 500px;
  height: 400px;
  margin: 30px 0px 0px 25%;
}
.menu-empanada .texto-empanada h2 {
  margin-bottom: 30px;
  margin-left: 60px;
}
.menu-empanada .texto-empanada h3 {
  margin-left: 100px;
}
.menu-empanada .texto-empanada div {
  margin-left: 100px;
}
.menu-empanada div img {
  height: 300px;
  width: 300px;
  margin-top: 100px;
  border-radius: 70px 70px 0px 0px;
}

.menu-pasta {
  display: flex;
  gap: 50px;
  margin-left: 25%;
}
.menu-pasta .texto-pasta {
  align-content: center;
  background-color: #f9b84a;
  width: 500px;
  height: 500px;
  margin: 30px 0px 0px 0px;
}
.menu-pasta .texto-pasta h2 {
  margin-bottom: 30px;
  margin-left: 60px;
}
.menu-pasta .texto-pasta h3 {
  margin-left: 100px;
}
.menu-pasta .texto-pasta div {
  margin-left: 100px;
}
.menu-pasta div img {
  height: 300px;
  width: 300px;
  margin-top: 130px;
  border-radius: 70px 70px 0px 0px;
}

.menu-tarta {
  display: flex;
  gap: 50px;
}
.menu-tarta .texto-tarta {
  align-content: center;
  background-color: #f9b84a;
  width: 500px;
  height: 400px;
  margin: 30px 0px 0px 25%;
}
.menu-tarta .texto-tarta h2 {
  margin-bottom: 30px;
  margin-left: 60px;
}
.menu-tarta .texto-tarta h3 {
  margin-left: 100px;
}
.menu-tarta .texto-tarta div {
  margin-left: 100px;
}
.menu-tarta div img {
  height: 300px;
  width: 300px;
  margin-top: 100px;
  border-radius: 70px 70px 0px 0px;
}

.precioBoton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}
.precioBoton p {
  grid-column: 1/2;
  justify-self: center;
}
.precioBoton button {
  grid-column: 2/3;
  justify-self: left;
  border-radius: 5px;
  height: 35px;
  width: 70px;
}

.contenedor-compras {
  margin: 60px 0px 0px 250px;
  background-color: #fde3bd;
  height: 500px;
  width: 70%;
  border-radius: 10px;
}
.contenedor-compras .compras {
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 80%;
  width: 90%;
  margin: 10px 40px;
  padding-top: 70px;
}
.contenedor-compras .compras .pedido {
  background-color: rgb(245, 239, 239);
  display: flex;
  border-radius: 10px;
}
.contenedor-compras .compras .pedido img {
  height: 130px;
  width: 160px;
  margin: 1.25rem;
}
.contenedor-compras .compras .pedido div {
  margin-top: 20px;
}
.contenedor-compras .compras .pedido div h3 {
  font-size: 22px;
}
.contenedor-compras .compras .pedido div p {
  font-size: 18px;
}
.contenedor-compras .compras .pedido div a {
  color: rgb(252, 100, 74);
}

.carritoTotal {
  align-items: right;
  margin-left: 70%;
}
.carritoTotal .btn-compra {
  background-color: rgb(252, 100, 74);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.carritoTotal .btn-compra :hover {
  background-color: #cc3c2f;
}

footer {
  background-color: rgb(248, 232, 208);
  color: black;
  text-align: center;
  padding: 40px;
  margin-top: 20px;
}
footer div a {
  margin-left: 25px;
  text-decoration: none;
  color: black;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
  border-radius: 5px;
}

@media (max-width: 64rem) {
  /* ---------------header -----------------*/
  header {
    display: flex;
    height: 120px;
    padding: 0px;
  }
  header nav {
    padding-top: 20px;
  }
  .logo-nombre {
    margin-right: 0px;
  }
  /*----------------- main ----------------*/
  .principal {
    gap: 1.875rem;
  }
  .principal .textoP {
    margin-top: 150px;
  }
  .contentP {
    gap: 1.5625rem;
  }
  .SM {
    height: 100%;
    gap: 110px;
  }
  .SM .sobreMi {
    width: 50%;
  }
  .SM .sobreMi h2 {
    font-size: 22px;
  }
  .SM .sobreMi p {
    font-size: 18px;
  }
  .SM .decoracionSM {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-right: 10px;
    gap: 10px;
  }
  .SM .decoracionSM img {
    height: 200px;
  }
  .contenedor-compras {
    margin-left: 150px;
  }
  .carritoTotal {
    margin-left: 65%;
    margin-top: 10px;
  }
  .menu-empanada .texto-empanada {
    margin-left: 10%;
  }
  .menu-pasta {
    margin-left: 10%;
  }
  .menu-tarta .texto-tarta {
    margin-left: 10%;
  }
}
@media (max-width: 48rem) {
  header {
    display: flex;
    height: 170px;
    align-items: center;
  }
  header nav ul {
    padding-left: 0px;
  }
  header nav ul li {
    margin: 10px;
  }
  .logo {
    max-width: 50%;
  }
  .logo-nombre {
    margin: 0px;
    font-size: 1.25rem;
    text-align: center;
    font-size: 20px;
  }
  /*---------- main-------- */
  .principal {
    flex-direction: column;
  }
  .principal .textoP {
    justify-content: center;
    min-width: 320px;
    margin: auto;
  }
  .caja-vianda {
    flex-direction: column;
    width: 75vw;
    margin: auto;
    margin-bottom: 50px;
  }
  .caja-vianda .contentP {
    gap: 1.25rem;
  }
  .contacto-main {
    margin: 70px 0px 0px 100px;
  }
  .contacto-main div p {
    text-align: center;
  }
  .contacto-main div a {
    margin-left: 30px;
    text-align: center;
  }
  .SM {
    gap: 60px;
  }
  .contenedor-compras {
    margin-left: 80px;
    width: 80%;
  }
  .contenedor-compras .compras {
    margin-left: 30px;
  }
  .carritoTotal {
    margin-left: 60%;
    margin-top: 10px;
  }
  .menu-empanada {
    gap: 30px;
  }
  .menu-empanada .texto-empanada {
    margin-left: 4%;
    width: 450px;
  }
  .menu-empanada div img {
    height: 260px;
    width: 260px;
    margin-right: 20px;
  }
  .menu-pasta {
    margin-left: 4%;
    gap: 30px;
  }
  .menu-pasta .texto-pasta {
    width: 400px;
  }
  .menu-pasta div img {
    height: 260px;
    width: 260px;
  }
  .menu-tarta {
    gap: 30px;
  }
  .menu-tarta .texto-tarta {
    margin-left: 4%;
    width: 450px;
  }
  .menu-tarta div img {
    height: 260px;
    width: 260px;
    margin-right: 20px;
  }
}
@media (max-width: 26.5625rem) {
  header {
    display: flex;
    flex-direction: column;
    padding: 0px;
    min-height: 200px;
  }
  header nav {
    margin: auto;
  }
  header nav ul {
    padding-left: 0px;
  }
  .logo-nombre {
    margin-top: 20px;
  }
  .logo img {
    margin: 0px;
  }
  /* -----main----- */
  .principal {
    flex-direction: column;
    margin: 0px;
  }
  .principal .textoP {
    margin-top: 50px;
  }
  .principal .textoP p {
    font-size: 16px;
  }
  .principal .textoP h1 {
    margin-top: 0px;
    font-size: 30px;
  }
  .caja-vianda {
    width: 85vw;
  }
  .caja-vianda .contentP {
    margin: 0px;
    align-items: center;
    gap: 1.25rem;
  }
  .cartaB {
    margin-left: 9.375rem;
  }
  .contacto-main {
    flex-direction: column;
    margin: 50px;
  }
  .contacto-main div iframe {
    margin: 50px 0px 0px 30px;
    max-height: 250px;
  }
  .contacto-main div p {
    text-align: center;
    margin-right: 30px;
  }
  .contacto-main div a {
    margin-left: 35px;
    font-size: 18px;
    text-align: center;
  }
  .contacto-main div form {
    margin-left: 55px;
    width: 65%;
  }
  .contacto-main .button-form {
    margin: 0px 0px 0px 80px;
  }
  .SM {
    flex-direction: column;
    gap: 20px;
  }
  .SM .sobreMi {
    margin: 20px 0px;
    width: 90%;
  }
  .SM .decoracionSM img {
    margin: 0px 0px 0px 90px;
  }
  .SM .decoracionSM .img-uno {
    height: 250px;
    width: 250px;
  }
  .SM .decoracionSM .img-dos {
    height: 250px;
    width: 250px;
  }
  .SM .decoracionSM .img-tres {
    height: 250px;
    width: 250px;
  }
  .contenedor-compras {
    width: 100%;
    height: 420px;
    margin: 20px 0px 0px 0px;
  }
  .contenedor-compras .compras {
    width: 90%;
    margin: 10px 0px 0px 20px;
    padding-top: 40px;
  }
  .contenedor-compras .compras .pedido img {
    height: 120px;
    width: 140px;
  }
  .contenedor-compras .compras .pedido div h3 {
    font-size: 18px;
  }
  .contenedor-compras .compras .pedido div p {
    font-size: 16px;
  }
  .carritoTotal {
    margin-left: 50%;
    margin-top: 30px;
  }
  footer {
    margin: 0px;
  }
  .menu-empanada {
    flex-direction: column;
    gap: 0px;
  }
  .menu-empanada .texto-empanada {
    margin-left: 0px;
    width: 100%;
  }
  .menu-empanada .texto-empanada h2 {
    margin-bottom: 30px;
    margin-left: 50px;
  }
  .menu-empanada .texto-empanada h3 {
    margin-left: 90px;
  }
  .menu-empanada .texto-empanada div {
    margin-left: 90px;
  }
  .menu-empanada div img {
    height: auto;
    width: 100%;
    margin: 0px 0px 40px 0px;
    border-radius: 0px;
  }
  .menu-pasta {
    flex-direction: column-reverse;
    gap: 0px;
    margin-left: 0px;
  }
  .menu-pasta .texto-pasta {
    width: 100%;
  }
  .menu-pasta .texto-pasta h2 {
    margin-bottom: 30px;
    margin-left: 50px;
  }
  .menu-pasta .texto-pasta h3 {
    margin-left: 90px;
  }
  .menu-pasta .texto-pasta div {
    margin-left: 90px;
  }
  .menu-pasta div img {
    height: auto;
    width: 100%;
    margin: 0px 0px 40px 0px;
    border-radius: 0px;
  }
  .menu-tarta {
    flex-direction: column;
    gap: 0px;
  }
  .menu-tarta .texto-tarta {
    margin-left: 0px;
    width: 100%;
  }
  .menu-tarta .texto-tarta h2 {
    margin-bottom: 30px;
    margin-left: 50px;
  }
  .menu-tarta .texto-tarta h3 {
    margin-left: 90px;
  }
  .menu-tarta .texto-tarta div {
    margin-left: 90px;
  }
  .menu-tarta div img {
    height: auto;
    width: 100%;
    margin: 0px 0px 40px 0px;
    border-radius: 0px;
  }
}
@media (max-width: 23.4375rem) {
  .contacto-main {
    margin-top: 0px;
  }
  .contacto-main div iframe {
    margin-left: 20px;
  }
  .contacto-main div p {
    font-size: 16px;
    text-align: center;
  }
  .contacto-main div a {
    margin-left: 60px;
  }
  .contacto-main div form {
    margin-left: 40px;
    width: 65%;
  }
  .contacto-main .button-form {
    margin-left: 65px;
  }
  .SM {
    flex-direction: column;
  }
  .SM .sobreMi {
    margin: 20px 0px 0px 0px;
    width: 90%;
  }
  .SM .decoracionSM img {
    margin: 0px 0px 0px 75px;
  }
  .SM .decoracionSM .img-uno {
    height: 230px;
    width: 230px;
  }
  .SM .decoracionSM .img-dos {
    height: 230px;
    width: 230px;
  }
  .SM .decoracionSM .img-tres {
    height: 230px;
    width: 230px;
  }
  .contenedor-compras {
    width: 100%;
    height: 320px;
    margin-top: 20px;
  }
  .contenedor-compras .compras {
    width: 95%;
    margin: 10px 0px 0px 10px;
    padding-top: 25px;
  }
  .contenedor-compras .compras .pedido img {
    height: 110px;
    width: 130px;
    margin: 10px;
  }
  .contenedor-compras .compras .pedido div h3 {
    font-size: 16px;
  }
  .contenedor-compras .compras .pedido div p {
    font-size: 16px;
  }
  .carritoTotal {
    margin-left: 50%;
    margin-top: 30px;
  }
  .menu-empanada {
    flex-direction: column;
    gap: 0px;
  }
  .menu-empanada .texto-empanada {
    height: 450px;
  }
  .menu-empanada .texto-empanada h2 {
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .menu-empanada .texto-empanada h3 {
    margin-left: 80px;
  }
  .menu-empanada .texto-empanada div {
    margin-left: 80px;
  }
  .menu-empanada div img {
    height: auto;
    width: 100%;
    margin: 0px 0px 30px 0px;
    border-radius: 0px;
  }
  .menu-pasta {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .menu-pasta .texto-pasta h2 {
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .menu-pasta .texto-pasta h3 {
    margin-left: 80px;
  }
  .menu-pasta .texto-pasta div {
    margin-left: 80px;
  }
  .menu-pasta div img {
    height: auto;
    width: 100%;
    margin: 0px 0px 30px 0px;
    border-radius: 0px;
  }
  .menu-tarta {
    flex-direction: column;
    gap: 0px;
  }
  .menu-tarta .texto-tarta {
    height: 450px;
  }
  .menu-tarta .texto-tarta h2 {
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .menu-tarta .texto-tarta h3 {
    margin-left: 60px;
  }
  .menu-tarta .texto-tarta div {
    margin-left: 60px;
  }
  .menu-tarta div img {
    height: auto;
    width: 100%;
    margin: 0px 0px 30px 0px;
    border-radius: 0px;
  }
}
@media (max-width: 320px) {
  header {
    flex-direction: column;
    padding: 0px;
    align-content: center;
  }
  /* ----main----- */
  .principal .logo-main img {
    border-radius: 0px;
    margin: 0px;
  }
  .caja-vianda {
    width: 100vw;
  }
  .caja-vianda .contentP {
    margin: 0px;
  }
  .contacto-main div iframe {
    margin-left: 10px;
  }
  .contacto-main div a {
    margin: 0px 0px 25px 40px;
  }
  .contacto-main div form {
    margin-left: 30px;
    gap: 10px;
  }
  .contacto-main .button-form {
    margin-left: 50px;
  }
  .SM {
    flex-direction: column;
    gap: 20px;
  }
  .SM .sobreMi {
    margin: 20px 0px;
    width: 90%;
  }
  .SM .decoracionSM img {
    margin: 0px 0px 0px 50px;
  }
  .SM .decoracionSM .img-uno {
    height: 230px;
    width: 230px;
  }
  .SM .decoracionSM .img-dos {
    height: 230px;
    width: 230px;
  }
  .SM .decoracionSM .img-tres {
    height: 230px;
    width: 230px;
  }
  .contenedor-compras {
    width: 100%;
    height: 320px;
    margin-top: 20px;
  }
  .contenedor-compras .compras {
    width: 95%;
    margin: 10px 0px 0px 10px;
    padding-top: 25px;
  }
  .contenedor-compras .compras .pedido img {
    height: 100px;
    width: 120px;
    margin: 10px;
  }
  .contenedor-compras .compras .pedido div h3 {
    font-size: 16px;
  }
  .contenedor-compras .compras .pedido div p {
    font-size: 16px;
  }
  .carritoTotal {
    margin-left: 50%;
    margin-top: 30px;
  }
  .menu-empanada {
    flex-direction: column;
  }
  .menu-empanada .texto-empanada h2 {
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .menu-empanada .texto-empanada h3 {
    margin-left: 50px;
  }
  .menu-empanada .texto-empanada div {
    margin-left: 50px;
  }
  .menu-empanada div img {
    height: auto;
    width: 100%;
    margin: 0px 0px 25px 0px;
    border-radius: 0px;
  }
  .menu-pasta {
    flex-direction: column-reverse;
  }
  .menu-pasta .texto-pasta {
    height: 500px;
  }
  .menu-pasta .texto-pasta h2 {
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .menu-pasta .texto-pasta h3 {
    margin-left: 50px;
  }
  .menu-pasta .texto-pasta div {
    margin-left: 50px;
  }
  .menu-pasta div img {
    height: auto;
    width: 100%;
    margin: 0px 0px 25px 0px;
    border-radius: 0px;
  }
  .menu-tarta {
    flex-direction: column;
  }
  .menu-tarta .texto-tarta {
    height: 500px;
  }
  .menu-tarta .texto-tarta h2 {
    margin-bottom: 30px;
    margin-left: 15px;
  }
  .menu-tarta .texto-tarta h3 {
    margin-left: 30px;
  }
  .menu-tarta .texto-tarta div {
    margin-left: 30px;
  }
  .menu-tarta div img {
    height: auto;
    width: 100%;
    margin: 0px 0px 25px 0px;
    border-radius: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
