

$colores:(
    color1:rgb(252, 100, 74),
    color2:rgb(248, 232, 208),
    color3:#fde3bd,
    color4:#f9b84a,
    color5:#e98542
);


$tamanios:(
    sm:16px,
    md:18px,
    lg:22px,
    xl:30px
);


