.contacto-main {
    display: flex;
    justify-content: center;


    div {
        width: 75vw;
        margin: 50px 100px;

        iframe {
            width: 100%;
        }
    }

    div {
        margin: 50px 100px;
        max-width: 300px;
        min-width: 50px;
        text-align: center;

        form {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-family: "Roboto Condensed", sans-serif;
            margin-top: 30px;
            gap: 20px;
        }

        a {
            color: green;
            text-decoration: underline;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            max-width: 200px;
            min-width: 50px;

            :hover {
                color: darkgreen;
            }
        }
    }
}

.formulario textarea,
.formulario input {
    border-radius: 5px;
}

.button-form {
    width: 70px;
    padding: 8px;
    border-radius: 10px 5px;
    background-color: white;
    margin: auto;

    :hover {
        background-color: rgb(194, 192, 192);
    }
}