.SM {
    display: flex;
    gap: 20px;

    .sobreMi {
        margin: auto;
        margin-left: 20px;
        width: 75vw;
        max-width: 1000px;
        min-width: 500px;
        max-height: 600px;
        min-height: 400px;
        background-color: map-get($colores , color3);

        h2 {
            margin: 40px 0px 0px 40px;
            color: #e6533c;
            font-family: 'Dancing Script', cursive;
            font-size: 34px;
        }

        p {
            margin-left: 20px;
            font-size: map-get($tamanios , lg);
            color: #333;
            height: 100%;
        }
    }

    .decoracionSM {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 50px;

        img {
            height: 200px;
            border-radius: 30px;
        }

        .img-uno {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .img-dos {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .img-tres {
            grid-column: 1/2;
            grid-row: 3/4;
            width: 100%;
        }

    }


}