 @media (max-width: 320px) {
     header {
         flex-direction: column;
         padding: 0px;
         align-content: center;
     }



     /* ----main----- */
     .principal {
         .logo-main {
             img {
                 border-radius: 0px;
                 margin: 0px;
             }
         }
     }

     .caja-vianda {
         width: 100vw;

         .contentP {
             margin: 0px;
         }
     }


     //  ---------sobre mi --------------


     .SM {
         flex-direction: column;
         gap: 20px;

         .sobreMi {
             min-width: 320px;
         }

         .decoracionSM {

             .img-uno {
                 height: 230px;
                 width: 230px;
             }

             .img-dos {
                 height: 230px;
                 width: 230px;
             }

             .img-tres {
                 height: 230px;
                 width: 230px;
             }
         }

     }


     //  -----carro-----
     .carritoTotal {
         margin-left: 50%;
         margin-top: 30px;
     }

 }